<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Dark UI Template</title>
    <style>
        .b12_cm_button a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <header>

    </header>
    <main>
        <section class="b12_hero_area">
            <h1>Cool Dark UI Template for<br> Webflow Agencies!</h1>
            <button class="b12_cm_button"><a href="../index.html">go back</a></button>
        </section>
    </main>
    <footer class="b12_container b12_footer">
        <img src="../Assets/logo.png" alt="Footer_logo">
        <p class="b12_cm_para">Ready to elevate your online presence? Contact us today to discuss your project and discover how we can bring your vision to life.</p>
        <nav class="b12_main_menu">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="#">how it works</a></li>
                <li><a href="#">service</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>