<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../Assets/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Dark UI Template</title>
    <style>
        .b12_cm_button a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <header>

    </header>
    <main class="b12_container">
        <section class="b12_hero_area">
            <h1>This section data and content coming soon...</h1>
            <button class="b12_cm_button"><a href="../index.html">go back</a></button>
        </section>
    </main>
    <footer class="b12_container b12_footer">
        <img src="../Assets/logo.png" alt="Footer_logo">
        <p class="b12_cm_para">Ready to elevate your online presence? Contact us today to discuss your project and discover how we can bring your vision to life.</p>
        <nav class="b12_main_menu">
            <ul>
                <li><a href="../index.html">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="#">how it works</a></li>
                <li><a href="service.html">service</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>