/* Common Styles */

* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #252432;
    font-weight: normal;
}

.b12_container {
    max-width: 1140px;
    margin: 0 auto;
}

.b12_cm_button {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #4E47FF;
    text-transform: capitalize;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    transition: background-color 0.5s ease, transform 0.5s ease;

}

.b12_cm_button:hover { 
    color: #1E1E1E; 
    background: rgb(228, 228, 37); 
    cursor: pointer;
    transform: scale(1.05);
}

.b12_cm_title {
    font-size: 42px;
    font-weight: bold;
}
.b12_bg {
    background: #F5F8FF; 
}

/* Header section style here... */

.b12_header {
    background: url('../Assets/Hero-bg.png');
    min-height: 658px;
}

.b12_header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.b12_header_nav img { width: 95px; height: 95px; }
.b12_hero_area { text-align: center; }

.b12_hero_area h1 {
    font-size: 65px;
    font-weight: bold;
    margin: 150px 0 40px 0;
}

/* Action section style here .... */

.b12_action_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 116px 0;
}
.b12_action_left p {
    font-size: 24px;
    font-weight: normal;
    color: #252432;
    opacity: 50%;
    width: 70%;
    margin: 23px 0;
    line-height: 30px;
}

.b12_action_section img { border-radius: 48px; }

/* Productive users section here .... */

.b12_users_section {
    background: #EDEDFF;
    padding: 50px 142px;
    border-radius: 24px;
    text-align: center;
    margin-bottom: 138px;
}
.b12_users_section h3 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.b12_users_perform { display: flex; gap: 158px; }

.b12_users_servay h2 {
    color: #4E47FF;
    font-family: inter;
    font-size: 80px;
    font-weight: bold;
}
.b12_users_servay p {
    font-family: inter;
    font-size: 20px;
    color: black;
    opacity: 50%;
}

/* Challenging part for users review and feedback section here ... */

.b12_users_review { text-align: center; }
.b12_user_review_box { display: flex; gap: 20px; padding: 50px 0;}
.b12_single_user { 
    text-align: left; 
    border: 1px solid #F2EDED;
    padding: 25px;
    border-radius: 14px;
    background: #FFF;
}
.b12_single_user h4 {
    color: #1E1E1E;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
    margin: 24px 0 8px 0;
}
.b12_single_user p { color: #1E1E1E; font-size: 16px; font-family: inter; }
.b12_user_info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}
.b12_user_info img { border-radius: 50%; }
.b12_user h5 { color: #757575; font-size: 16px; font-weight: 500; }

.b12_cm_para, 
.b12_user p,
.b12_main_menu ul li a { 
    color: #B3B3B3; 
    font-size: 16px; 
    text-align: center; 
    font-family: inter;
}

/* Optional section */
.b12_optional_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 71px 150px;
    background: #FFF;
    border-radius: 20px;
}
.b12_optional_section h2 { font-size: 50px; font-weight: bold; }
.b12_optional { padding-bottom: 58px; }
.b12_optional_section img { border-radius: 48px; }

/* Comments section start here ... */

.b12_comments_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 115px;
    padding: 40px 0 71px 0;
}
.b12_comments_section h2 {
    font-size: 97px;
    font-weight: bold;
    color: #000000;
    width: 50%;
}
.b12_comments_form { width: 50%; }

.b12_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.b12_form input,
.b12_form textarea {
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    font-size: 20px;
    font-weight: normal;
    font-family: inter;
}

.b12_form label {
    font-size: 18px;
    font-family: inter;
    margin-top: 20px;
    color: #000000;
}
.b12_comments_form button {
    margin-top: 10px;
    padding: 19px 0;
}
/* Footer section style start here ... */

.b12_footer {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 104px 0;
}

.b12_footer img {
    width: 150px;
    height: 150px;
}
.b12_main_menu { margin-top: 20px; }
.b12_main_menu ul {
    display: flex;
    gap: 48px;
}
.b12_main_menu ul li {
    list-style: none;
}
.b12_main_menu ul li a {
    text-decoration: none;
    text-transform: capitalize;
}
.b12_main_menu ul li a:hover { color: #1E1E1E; }